:root {
  --color-background: #42423a;
  --color-background-transparent: 'rgba(77, 77, 68, 0.85)';
  --color-text: #c1c1aa;
  --font-text: "Courier Prime Sans", Consolas, Courier-New, monospace;
}

@font-face {
  font-family: "Courier Prime Sans";
  src: url("Courier Prime Sans.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Courier Prime Sans";
  src: url("Courier Prime Sans Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0px;
  background-color: #42423a;
  color: #c1c1aa;
}

